/*//////////////////////////*/
/* VARIABLES */
:root {
  /* --color-primary: #155e75; */
  --color-primary: #0c4a6e;
  --color-primary-light: #fff;

  --color-gray: #6b7280;
  --color-gray-light-1: #f7f7f7;
  --color-gray-light-2: #eee;

  --color-emarald: #10b981;

  --color-sky: #7dd3fc;

  --color-cyan-dark: #164e63;

  --color-slate: #f1f5f9;
}

/*//////////////////////////*/
/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-gray-light-1);
}

/*//////////////////////////*/
/* NAVIGATION */
.navigation {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.5rem;
}

.navigation__logo {
  display: flex;
  align-items: center;
}

.navigation__photo {
  height: 4rem;
  width: 4rem;
  margin-right: 0.8rem;
}

.navigation__text {
  font-size: 2.5rem;
  font-weight: 600;
}

.navigation__item {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navigation__link {
  color: inherit;
  transition: all 0.3s;
}

.navigation__link:hover {
  color: #0891b2;
}

.btn-login {
  font-size: 1.5rem;
  color: inherit;
  font-weight: 600;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  transition: all 0.3s;
}

.btn-login:hover {
  box-shadow: 0 0.2rem 1rem var(--color-gray);
}

/*//////////////////////////*/
/* HEADER */
.header {
  min-height: 50rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/hero.png);
  background-position: center;
  background-size: cover;
  padding-left: 4.5rem;
}

.header__content {
  padding-top: 4rem;
}

.header__paragraph {
  color: var(--color-primary-light);
  font-size: 1.6rem;
  margin-top: 3rem;
  font-weight: 500;
}

.header__buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.btn-header {
  border: none;
  background-color: var(--color-gray-light-2);
  padding: 0.6rem 1.4rem;
  font-size: 1.3rem;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn-header:not(:last-child) {
  margin-right: 1rem;
}

.btn-header:hover {
  background-color: #d1d5db;
}

/*//////////////////////////*/
/* FEATURES */
.section-features {
  margin: 8rem 4rem 4rem 4rem;
}

.section-features__flex {
  display: flex;
  justify-content: space-between;
}

.features {
  background-color: var(--color-gray-light-1);
  box-shadow: 0 0.1rem 1rem var(--color-gray);
  border-radius: 6px;
  overflow: hidden;
  flex: 0 0 30%;
  transition: all 0.4s;
}

.features:hover {
  box-shadow: 0 1rem 4rem var(--color-gray);
  transform: translateY(-1rem) scale(1.01);
}

.features__heading {
  color: var(--color-primary);
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

.features__card {
  position: relative;
}

.features__card--heading {
  position: absolute;
  top: 19.5rem;
  left: 3rem;
  color: var(--color-primary-light);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.features__card--heading span {
  font-size: 3.2rem;
  font-weight: 700;
}

.features__photo {
  width: 100%;
  height: 23rem;
}

.features__content {
  padding: 1rem 2rem;
  color: var(--color-primary);
  font-size: 1.4rem;
}

.features__content--heading {
  font-size: 2.8rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 2rem;
}

.features__location {
  font-size: 1.3rem;
}

.features__location span {
  margin: 0 2px;
}

.features__location--link {
  color: #0c4a6e;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
}
.features__location--link:hover {
  color: #0c4a6e;
  opacity: 0.7;
}

.features__cta {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.features__cta i {
  margin-right: 2px;
}

.features__cta-1,
.features__cta-2 {
  border: 1px solid #9ca3af;
  padding: 0.5rem 1.2rem;
  border-radius: 100px;
}

.features__feature {
  font-weight: 700;
  font-size: 1.4rem;
}

.features__feature--content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.features__feature--paragraph i {
  margin-right: 3px;
}

/*//////////////////////////*/
/* COLLECTIONS */
.section-collection {
  margin: 8rem 4rem 4rem 4rem;
}

.collection__photo {
  width: 30rem;
  height: 10rem;
  border-radius: 8px;
}
